<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-hide-icon" version="1.0.0">
    <name>cordova-hide-icon</name>

    <engines>
        <engine name="cordova" version=">=3.1.0" />
    </engines>

    <asset src="www/hide-icon.js" target="js/hide-icon.js" />

    <js-module src="www/hide-icon.js" name="AppIcon">
        <clobbers target="AppIcon" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Hello">
                <param name="android-package" value="ru.androidovshchik.HideIconPlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/HideIconPlugin.java" target-dir="src/ru/androidovshchik" />
    </platform>

</plugin>